.navbar{
    background-color: green;
    margin-bottom: 4%;
    padding: 10px;
}

.Header{
    display: flex;
    gap: 5%;
}
.collection{
    background-image: url(images/vera.jpg);
    background-repeat: no repeat;
    background-position: initial;
    background-size: cover;
    padding: 20%;
    width: 300px;
    height: 300px;
}


.website{
    margin-left: 5%;
}
/*.inspiration{
  background-image: url(images/decor.jpeg); 
  background-repeat: no repeat; 
  background-position: initial;
  background-size: cover;
  padding: 20%;
  width: 50px;
  height: 100px;
}
/*.collection{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);}
.vase{
        position: relative;
        text-align: center;
        font-style: initial;}*/

.images{
    display: flex;
}
.body{
    display: flex;
    gap: 10%;
}
.Auctor{
    display: flex;
    gap: 10%;
}
.grow{
    width: 500%;

}
.gravida{
    display: flex;
    gap: 10%;
}


.product{
    text-align: center;
}
.idea{
    display: flex;
    gap: 5%;
}
.garder{
    display: flex;
    gap: 10%;
}
.price{
    text-align: center;
}
.amazing{
    display: flex;
    gap: 10%;
}
.enim{
    display: flex;
    gap: 10%;
}
.sem{
    display: flex;
    gap: 10%;
}

#cactus{
    display: flex;
    gap: 10%;
}
#container{
   width: 600px; 
   height: 400px;

}
.Inspire{
    display: flex;
    gap: 5%;
}
.drift{
    padding-left: 70%;
}
#popcorn{
    width: 300px;
}
#search{
    width: 30px;
    height: 30px;
}
#love{
    width: 30px;
    height: 30px;
}
#cart{
    width: 30px;
    height: 30px;
}
#house{
    width: 400px;
}
.Blog{
    display: flex;
    gap: 10%;
}
#living{
    background-image:url(images/flower.jpeg);
    background-repeat: no-repeat;
    background-position: initial;
    background-size:cover;
    padding: 10%;
}
.clients{
    text-align: center;
}
   .logo{
        gap: 10%;
    }
.copy{
text-align: center;
}
#plant{
     height:105% ;
     width: 160%;
}
.test{
    display: flex;
    gap: 10%;
}
#man{
    width: 125px;
    
}

.menu{
    display: flex;
    gap: 10%;
}
.store{
    display: flex;
    gap: 10%;
}
.summer{
    display: flex;
    
    gap: 20%;
    
}
@media screen and (max-width:939px){
.navbar{
    width: 90%;
    height: 100%;
    padding: 10px;
}
.Header{
  font-size: 5px;   

}
.summer{
     flex-wrap: wrap; 
}
.store{
    
flex-wrap: wrap; 
}
.Auctor{
    flex-wrap: wrap;
}
.gravida{
    flex-wrap: wrap;
}
.amazing{
    flex-wrap: wrap;
}
.enim{
    flex-wrap: wrap;
}
.sem{
    flex-wrap: wrap;
}
.cactus{
    gap: 3%;
}

#tree{
    width: 115%;
    text-align: center;
}
.Blog{
    flex-wrap: wrap;
}
.test{
    flex-wrap: wrap;
}
.menu{
    flex-wrap: wrap;
}
}

    
